{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
<style>
    .new-task-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .new-task-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="new-task-wrapper">
    <h1>Create New Task</h1>

    {{ form(form) }}
</div>
{% endblock %}
