{% extends 'base.html.twig' %}

{% block title %}Test2{% endblock %}

{% block body %}
    <div class="example-wrapper">

        <h1>Hello from Test2</h1>

        {{ form(form) }}

    </div>
{% endblock %}
